.footerline1{
    color: brown;
    font-size: 2rem;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copyright{
    background-color: darkgray;
    height: 8vh;
    width:100vw;
    text-align: center;
    padding-top: 4vh;
}

